{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box">
        <h1 style="font-size:55px;"><span class="text-logo"> Home</span></h1>
        <p style="text-align:left; color: black;">
          To achieve that objective, during the course the students analyze relevant topic in green economy,
          they build an economic model to study that topic and they develop an app to conduct all the economic
          simulations in the economic model.
          \(x^2 + y^2 = z^2\)
        </p>
      </div>
      <div class="box">
        <img src="{{url_for('static', filename='icons/Leaf_logo.avif')}}" alt="" />
      </div>
    </div>

  </div>
</section>

<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"> Our Team</h1>
      <p>
        Our team of economists and developers ... Just people taking FOR19
      </p>
    </div>

    <div class="developers">
      <div class="box">
        <img src="https://randomuser.me/api/portraits/women/10.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Alise</h3>
        <p> Alise har en mastergrad i sikker og pålitelig kommunikasjon fra UiB og er snart ferdig med en bachelor i økonomi og administrasjon fra NHH.
          I 2018 startet hun å jobbe fulltid som utvikler og jobbet som det frem til januar 2023. Siden har hun prøvd seg i rollen som rådgiver/fasilitator hos Bouvet.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <div class="box">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Developer 2</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic
          atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde
          similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <div class="box">
        <img src="https://randomuser.me/api/portraits/men/12.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Developer 3</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic
          atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde
          similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
    </div>

    <div class="developers">
      <div class="box2">
        <img src="https://randomuser.me/api/portraits/women/12.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Developer 4</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic
          atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde
          similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <div class="box2">
        <img src="https://randomuser.me/api/portraits/women/13.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Developer 5</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic
          atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde
          similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <div class="box2">

      </div>
    </div>

  </div>
</section>

{% endblock content %}